.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  background-color: blue;
  color: white;
  padding: 8px 24px;
  font-size: medium;
  border-radius: 5px;
  border: 2px solid white;
}
